@keyframes hero-text-change {
  0% {
    content: 'Powerful';
  }
  25% {
    content: 'Simple';
  }
  50% {
    content: 'Unique';
  }
  75% {
    content: 'Creative';
  }
}
.important_word:after {
  content: 'Powerful';
  animation: hero-text-change 8s infinite;
}
